.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar {
  min-width: 230px;
  height: 900px;
}

.main-layout main {
  flex-grow: 1;
  padding: 20px;
}
ul{
  list-style-type: none;
}
